$body-bg-color: #e7e3e3;
$doc-font-style: sans-serif;

/*Edit page*/
$label-font-color: rgb(201, 63, 63);
$input-font-color: #3c1794;
$card-header-color: #ffffff;
$card-title-color: #331313;
$card-footer-color: #f7f4f4;

/*Nav Bar*/
$menu-bg-color: #293950;
$menu-icon-color: rgb(253, 253, 253);
$menu-icon-color-hov: rgba(89, 103, 124, 0.808);
